* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: 10px;
  background-color: white;
}

.header {
  padding: 1.5%;
  border-bottom: 5px solid #B3E7C7;
  display: flex;
  justify-content: space-around;
  align-items: center   ;
}

.link{
  font-family: "Italiana", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  gap: 10%;
  font-size: 150%;
  align-items: center; 
}

.cabeca .contato {
  margin-left: auto; 
}

.img3 {
  border-radius: 4px;
  width: 19.5%;
  height: 19.5%;
}

.sobre, .Experiência, .Projetos, .contact, .eu {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.sobre:hover, .Experiência:hover, .Projetos:hover, .contact:hover {
  color: #4B9969;
}

.img {
  background-color: #ddd;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  width: 300px;
}

.eu {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 160%;
  color: black;
  width: 15%;
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.frase {
  font-size: 125%;

}

.apres {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 570px;
  margin-top: 6%;
  gap: 2%;
}

.ola {
  margin-top: -17%;
}

.bem {
  font-size: 85%;
  margin-top: 0.5%;
}

.sof {
  font-size: 75%;
  margin-top: 0.5%; 
  width: 100%;
}

.est {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-top: 8%;
}

.rond {
  display: flex;

}

.img2 {
  height: 7%;
  width: 7%;
}

.sobreM {
  text-align: center;
}

.section {
  scroll-margin-top: 18vh;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  padding: 4%;
  text-align: justify;
  margin-top: 8%;
  background-color: #b3e7c7a4;
}

.section2{
  background-color: #FFFFFF;
}

.section1 {
  display: flex;
  gap: 4%;
  align-items: center;
  padding-top: 70px;
  
}

.texto {
  font-weight: 200;
  margin-top: 1%;
  text-align: justify;
}
.espace {
  margin-top: 2%;
}
.projetos{
  margin-top: -2%;
  text-align: center;
}
.projetos1{
  margin-top: 0.2%;
  text-align: center;
}
.projetos1{
  font-weight: 500;
}
.ativ{
  font-weight: 100;
  font-size: 70%;
}
.ativ1, .ativ2, .ativ3{
  font-weight: 100;
  font-size: 70%;
  margin-top: 4%;
}

.separacao{
  margin-top: 2%;
}

.art{
  width: 50%;
  border-radius: 14px;
}
.art:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.flex{
  width: 50%;
  border-radius: 14px;
}
.read{
  width: 50%;
  border-radius: 14px;
}
.ind{
  width: 50%;
  border-radius: 14px;
}
.ind:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.flex:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.read:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
form {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px  #4B9969;
  background-color: #ffffffd1;
  padding: 3%;
  margin-top: 1%;
}
label {
  display: block;
  margin-bottom: 2%;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 3%;
  background-color: #4b99699b;
}
input[type="submit"]:hover {
  background-color: #4B9969;
}
.contato{
  text-align: center;
}
.footer {
  background-color: rgba(255, 255, 255, 0.518);
  padding: 1.5%;
  border-top: 5px solid #B3E7C7;
  text-align: center;
  margin-top: 2%;
}
.git, .insta {
  width: 2.5%;
  cursor: pointer;
  margin-bottom: 0.1%;
  align-items: center;
  margin-bottom: 0.5%;
}

.git{
  margin-left: -0.5%;
}
.rodape{
  margin-top: 1%;
}

.section2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2>h1{
  background-color: #B3E7C7;
  border-radius: 5px;
  padding: 5px 5px;
  width: 16%;
}

.sectionAtividades{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   margin-top: 5%;
}

.separacao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.separacao>a{
    display: flex;
  align-items: center;
  justify-content: center;
}

.separacao>h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
   border-bottom: 2px solid #B3E7C7;
}

@media (max-width: 1025px) {
  .link {
    font-size: 100%;
    gap: 5%;
  }
  .header{
    padding: 10px 1px;
    width: 100%;
    display: flex;
    gap: 8%;
  }
  .frase{
    margin-top: 15%;
  }
  .eu{
    font-size: 100%;
  }
  .body{
    width: 100%;
  }
  .img{ 
    height: 50%;
    width: 50%;
  }
  .apres{
    flex-direction: column;
  }
  .est{
    width: 55%;
  }
  .frase{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .texto{
    font-size: 80%;
  }
  .section1{
    flex-direction: column;
  }

  .textAbout{
    margin-top: 2px;
  }
  .img3{
    margin-top: 5px;
    width: 50%;
    height: 50%;
  }
  .separacao, .ativ1, .ativ2, .ativ3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .art, .flex, .ind , .read{
    display: flex;
    flex-direction: column;
  }

  .section2>h1{
    width: 50%;
  }

  .form>label {
    font-size: 19px;
  }


  .form>input {
    width: 95%;
    font-size: 16px 
  }
}
