* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: 10px;
  background-color: white;
  padding-top: 100px;
}

.header {
  position: fixed;
  padding: 1.5%;
  border-bottom: 5px solid #B3E7C7;
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000; 
  flex-wrap: wrap;
}

.cabeca {
  font-family: "Italiana", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  gap: 25%;
  font-size: 150%;
  margin: 0.5% auto;
  width: auto;
  align-items: center; 
}

.cabeca .contato {
  margin-left: auto; 
}

@media (max-width: 768px) {
  .cabeca {
    font-size: 120%;
    margin: 0.5% 10%;
  }
}

@media (max-width: 480px) {
  .cabeca {
    font-size: 100%;
    margin: 0.5% 5%;
    gap: 3%;
    margin-left: -10%;
  }
}

.sobre, .Experiência, .Projetos, .contact, .eu {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.sobre:hover, .Experiência:hover, .Projetos:hover, .contact:hover {
  color: #4B9969;
}

.img {
  background-color: #ddd;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
  margin: 10% 0 0 10%;
}

.eu {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 160%;
  color: black;
  margin: 0.5% 0 0 10%;
  width: 15%;
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.frase {
  font-size: 125%;
  margin: -9% 0 0 23%;
}
@media (max-width: 768px){
    .frase {
    font-size: 125%;
    margin: -9% 0 0 23%;
    margin-top: 18%;
    margin-left: 1%;
  }
    .est {
    display: flex;
    margin-left: 10%;
    border-bottom: 2px solid #B3E7C7;
    
  }
    .rond {
    display: flex;
    margin: -17% 0 0 4%;
    font-size: 70%;
  }
}
@media(max-width: 480px){
    .frase {
    font-size: 125%;
    margin: -9% 0 0 23%;
    margin-top: 18%;
    margin-left: 1%;
  }
    .est {
    display: flex;
    width: 17%;
    margin-left: 10%;
    border-bottom: 2px solid #B3E7C7;
  }
    .rond {
    display: flex;
    font-size: 50%;
  }
}

.apres {
  scroll-margin-top: 570px;
  margin-left: 18%;
}

.ola {
  margin-top: -17%;
  margin-left: 8%;
}

.bem {
  margin-left: 8%;
  font-size: 85%;
  margin-top: 0.5%;
}

.sof {
  font-size: 75%;
  margin-left: 8.2%;
  margin-top: 0.5%; 
}

.est {
  width: 17%;
  margin-left: 10%;
  border-bottom: 2px solid #B3E7C7;
}

.rond {
  display: flex;
  margin: -17% 0 0 4%;
}

.img2 {
  margin: 3% 0 0 8%;
  width: 1.5%;
}

.sobreM {
  margin-top: -32%;
  text-align: center;
}
@media (max-width: 768px){
  .sobreM{
    font-size: 100%;
    margin-top: -38%;
  }
  .texto {
    font-size: 80%;
    margin-left: 45%;
    font-weight: 200;
    margin-top: 2%;
  }
  .img3 {
    display: flex;
    width: 105%;
  }

}

.section {
  scroll-margin-top: 18vh;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  padding: 4%;
  text-align: justify;
  margin: 0;
  margin-top: 8%;
  background-color: #b3e7c7a4;
  position: relative;
}

.section1 {
  padding-top: 70px;
  margin-top: 23%;
}
.img3 {
  border: 2px solid #4B9969;
  border-radius: 4px;
  margin-left: 8%;
  display: flex;
  width: 23%;
}
.texto {
  margin-left: 45%;
  font-weight: 200;
  margin-top: 1%;
}
.espace {
  margin-top: 2%;
}
.projetos{
  margin-top: -2%;
  text-align: center;
}
.projetos1{
  margin-top: 0.2%;
  text-align: center;
}
.projetos1{
  font-weight: 500;
}
.ativ{
  font-weight: 100;
  font-size: 70%;
}
.ativ1, .ativ2, .ativ3{
  font-weight: 100;
  font-size: 70%;
  margin-top: 4%;
}

.separacao{
  margin-top: 2%;
}
.art{
  width: 50%;
  border-radius: 14px;
}
.art:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.flex{
  width: 50%;
  border-radius: 34px;
}
.read{
  width: 50%;
  border-radius: 34px;
}
.ind{
  width: 50%;
  border-radius: 34px; 
}
.ind:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.flex:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
.read:hover{
  transition: all ease-in-out 0.2s;
  box-shadow:0px 0px 30px 0px  rgb(11, 69, 17);
}
form {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px  #4B9969;
  background-color: #ffffffd1;
  padding: 3%;
  margin-top: 1%;
}
label {
  display: block;
  margin-bottom: 2%;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 3%;
  background-color: #4b99699b;
}
input[type="submit"]:hover {
  background-color: #4B9969;
}
.contato{
  text-align: center;
}
.footer {
  background-color: rgba(255, 255, 255, 0.518);
  padding: 1.5%;
  border-top: 5px solid #B3E7C7;
  text-align: center;
  margin-top: 2%;
  width: 100%;
}
.git, .insta {
  width: 2.5%;
  cursor: pointer;
  margin-bottom: 0.1%;
  align-items: center;
  margin-bottom: 0.5%;
}

.git{
  margin-left: -0.5%;
}
.rodape{
  margin-top: 1%;
}

