* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
}

.header {
  background-color: rgba(179, 177, 177, 0.518);
  padding: 1.5%;
  border-bottom: 5px solid #09859b;
  display: flex;
  align-items: center;
}

.titulo-container {
  display: flex;
  align-items: baseline;
  margin-left: 35%;
}

.inicio, .inicio2 {
  font-family: "Source Serif 4", serif;
  font-size: 180%;
  color: white;
  margin-right: 5px;
}

.inicio2 {
  color: #09859b;
}

.img {
  width: 4.5%;
  margin-right: 10px;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px #09859b;
  background-color: #fff;
  margin-top: 10%;
  flex-grow: 1;
}

.site1, .site2, .site3 {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: rgba(179, 177, 177, 0.518);
  font-size: 130%;
}

.site1:hover, .site2:hover, .site3:hover {
  background-color: #237b8a58;
}

a {
  text-decoration: none;
  color: white;
}

.init {
  font-size: 140%;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #09859b;
  color: white;
}

.footer {
  background-color: rgba(179, 177, 177, 0.518);
  padding: 1.5%;
  border-top: 5px solid #09859b;
  text-align: center;
  margin-top: 12%;
  width: 100%;
}
main{
  margin-top: 32.30vh;
}
.git, .insta {
  width: 2.5%;
  cursor: pointer;
  margin-bottom: 0.1%;
  align-items: center;
}
.rodape{
  margin-top: 1%;
}
@media( max-width:480px){
  .footer{
    margin-top: 45.5%;
    padding: 3%;
  }
  .container{
    margin-top: 45%;
  }
  .git{
    width: 5%;
  }
  .insta{
    width: 5%;
  }
}

@media (max-width: 768px) {
  .inicio, .inicio2 {
    font-size: 150%;
    text-align: center;
  }
  .img {
    width: 10%;
  }
  .titulo-container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .inicio, .inicio2 {
    font-size: 120%;
    text-align: center;
    margin-left: 0;
  }
  .container {
    width: 90%;
  }
  .init {
    padding: 10px;
    font-size: 120%;
  }
  .site1, .site2, .site3 {
    padding: 10px;
    font-size: 110%;
  }
  .img {
    width: 15%;
  }
}
