*{
  margin: 0;
  padding: 0;
}
.duna{
  display: flex;
  width: 15%;
  margin-left: 0.5%;
  margin-top: 2%;
}
.adm{
  display: flex;
  width: 15%;
  margin-left: 0.5%;
  margin-top: 4%;
}
.mil{
  display: block;
  width: 14%;
  margin-left: 51%;
  margin-top: -22.8%;
}
.fahre{
  display: block;
  width: 14%;
  margin-left: 51%;
  margin-top: -21.8%;
}
.fahre1{
  display: block;
  width: 14%;
  margin-left: 51%;
  margin-top: -23%;
}

.dun, .admi{
  font-size: 115%;
  padding: 1%;
  width: 30%;
  border: 3px solid rgb(32, 50, 109);
  border-radius: 15px;
  margin-left: 16%;
  margin-top: -21.5%;
}
.deze, .fah{
  font-size: 115%;
  padding: 1%;
  width: 30%;
  border: 3px solid rgb(32, 50, 109);
  border-radius: 15px;
  margin-left: 66.5%;
  margin-top: -20.5%;
}
table {
  width: 32%;
  border: 1px solid rgba(22, 77, 126, 0.701);
  border-radius: 100px;
  margin-left:17%; 
  margin-top: 0.5%;
}
.ficcao1{
  width: 32%;
  border: 1px solid rgba(22, 77, 126, 0.701);
  border-radius: 100px;
  margin-left:16%; 
  margin-top: 0.5%;
}
.ficcao2{
  width: 33%;
  border: 1px solid rgba(22, 77, 126, 0.701);
  border-radius: 100px;
  margin-left:16%; 
  margin-top: 0.5%;
}
.livro6{
  width: 33%;
  border: 1px solid rgba(22, 77, 126, 0.701);
  border-radius: 100px;
  margin-left: 66.5%;
  margin-top: 0.5%;
}
.th2, .td2 {
  border: 1px solid rgba(22, 77, 126, 0.701);
  padding: 8px;
  text-align: left;
  color: black;
}
.th2 {
  background-color: rgba(22, 77, 126, 0.701);
  color: white;
}
.th1 {
  background-color: rgba(22, 77, 126, 0.701);
  color: white;
}
@media(max-width: 1025px){
  .duna, .adm{
    display: flex;
    width: 25%;
  }
  .dun, .admi{
    width: 65%;
    font-size: 90%;
    margin-left: 27%;
    margin-top: -36%;
  }
  .mil, .fahre, .fahre1{
    display: flex;
    width: 25%;
    margin-left: 0.5%;
    margin-top: 4%;
  }
  .deze, .fah{
    width: 65%;
    font-size: 90%;
    margin-left: 27%;
    margin-top: -37%;
  }
  .ficcao, .livro6, .ficcao1, .ficcao2{
    font-size: 75%;
    width: 68%;
    margin-left: 28%;
  }
}
